<button type="button" class="btn btn-primary float-right m-2"
        data-toggle="modal" data-target="#exampleModal"
        data-backdrop="static" data-keyboard="false"
        (click)="addClick()" i18n="show-summit|Button to add a summit@@addSummit">
  Add summit
</button>
<!--<th>-->
<!--  <button type="button" class="btn btn-primary float-right m-2"-->
<!--        (click)="sort($event)">-->
<!--Sort-->
<!--</button>-->
<!--</th>-->



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="closeClick()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-summit [emp]="emp" *ngIf="ActivateAddEditComp">
        </app-add-edit-summit>
      </div>
    </div>
  </div>
</div>


<!--<div class="d-flex flex-row">-->
<!--  <input [(ngModel)]="DepartmentIdFilter" class="form-control"-->
<!--         (keyup)="FilterFn()" placeholder="Filter">-->

<!--  <button type="button" class="btn btn-light"-->
<!--          (click)="sortResult('DepartmentId',true)">-->
<!--    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z"/>-->
<!--    </svg>-->
<!--  </button>-->
<!--  <button type="button" class="btn btn-light"-->
<!--          (click)="sortResult('DepartmentId',false)">-->
<!--    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--      <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>-->
<!--    </svg>-->
<!--  </button>-->

<!--</div>-->



<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <div  class="wrapper">
        <input [(ngModel)]="filterobj[0]" class="form-control"
               (keyup)="FilterFn()" i18n-placeholder placeholder="Filter">
      </div>
    </th>

    <th>
      <div  class="wrapper">
        <input [(ngModel)]="filterobj[1]" class="form-control"
               (keyup)="FilterFn()" i18n-placeholder placeholder="Filter">
      </div>
    </th>

    <th>
      <div  class="wrapper">
        <input [(ngModel)]="filterobj[2]" class="form-control"
               (keyup)="FilterFn()" i18n-placeholder placeholder="Filter">
      </div>
    </th>

    <th>
      <div  class="wrapper">
        <input [(ngModel)]="filterobj[3]" class="form-control"
               (keyup)="FilterFn()" i18n-placeholder placeholder="Filter">
      </div>
    </th>

    <th>
      <div  class="wrapper">
        <input [(ngModel)]="filterobj[4]" class="form-control"
               (keyup)="FilterFn()" i18n-placeholder placeholder="Filter">
      </div>
    </th>

    <th>
      <div  class="wrapper">
        <button type="button" class="btn btn-outline-danger"
                (click)="FilterClear()" i18n="@@clearFiltersButton">
          Clear filters
        </button>
      </div>
    </th>
  </tr>

  <tr>
    <th>
      <button type="button" class="btn btn-primary float-none m-2"
              (click)="sort('id')" i18n="show-summit|Button to sort by id@@show-summitIdButton">
        Id
      </button>
    </th>

    <th>
      <button type="button" class="btn btn-primary float-none m-2"
              (click)="sort('mainland')" i18n="show-summit|Button to sort by mainland@@mainlandButton">
        Mainland
      </button>
    </th>

    <th>
      <button type="button" class="btn btn-primary float-none m-2"
              (click)="sort('latitude')" i18n="show-summit|Button to sort by latitude@@latitudeButton">
        Latitude
      </button>
    </th>

    <th>
      <button type="button" class="btn btn-primary float-none m-2"
              (click)="sort('longitude')" i18n="show-summit|Button to sort by longitude@@longitudeButton">
        Longitude
      </button>
    </th>

    <th>
      <button type="button" class="btn btn-primary float-none m-2"
              (click)="sort('height')" i18n="show-summit|Button to sort by height@@heightButton">
        Height
      </button>
    </th>

    <th>

    </th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let dataItem of SummitList">
    <td>{{dataItem.id}}</td>
    <td>{{dataItem.mainland}}</td>
    <td>{{dataItem.latitude}}</td>
    <td>{{dataItem.longitude}}</td>
    <td>{{dataItem.height}}</td>
    <td>
      <button type="button" class="btn btn-light mr-1"
              (click)="showInfo(dataItem)">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-angle-expand" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
        </svg>
      </button>

      <button type="button" class="btn btn-light mr-1"
              data-toggle="modal" data-target="#exampleModal"
              (click)="editClick(dataItem)"
              data-backdrop="static" data-keyboard="false">

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>

      <button type="button" class="btn btn-light mr-1"
              (click)="deleteClick(dataItem)">

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="infoSummitModal" tabindex="-1" role="dialog" aria-labelledby="summitInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="summitInfoModalLabel"
            i18n="detailed summit info|Detailed information of summit@@detailedSummitInfo">
          Detailed summit information for summit {{infoSummit?.names?.length > 0 ? infoSummit?.names[0].summitName : infoSummit?.id}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" *ngIf="infoSummit?.names?.length > 0">
            <app-names-info-field [names]="infoSummit?.names"></app-names-info-field>
          </div>
          <div class="form-group">
            <label for="mainland" i18n="share-summit|New summit's mainland@@newMainlandLabel">New mainland</label>
            <input type="text" ngModel="{{infoSummit?.mainland}}" name="mainland" class="form-control" id="mainland" placeholder="{{infoSummit?.mainland}}">
          </div>
          <div class="form-group">
            <label for="latitude" i18n="expand summit|New summit's latitude@@newLatitudeLabel">New latitude</label>
            <input type="text" ngModel="{{infoSummit?.latitude}}" name="latitude" class="form-control" id="latitude" placeholder="{{infoSummit?.latitude}}">
          </div>
          <div class="form-group">
            <label for="longitude" i18n="expand summit|New summit's longitude@@newLongitudeLabel">New longitude</label>
            <input type="text" ngModel="{{infoSummit?.longitude}}" name="longitude" class="form-control" id="longitude" placeholder="{{infoSummit?.longitude}}">
          </div>
          <div class="form-group">
            <label for="height" i18n="expand summit|New summit's height@@newHeightLabel">New height</label>
            <input type="text" ngModel="{{infoSummit?.height}}" name="height" class="form-control" id="height" placeholder="{{infoSummit?.height}}">
          </div>
          <div class="form-group" *ngIf="infoSummit?.alpinists?.length > 0">
            <label for="height" i18n="expand summit|List of all alpinists of summit@@alpinistsLabel">Alpinists</label>
            <p></p>
            <label>{{getAlpinistData(infoSummit?.id)}}</label>
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary"
                    i18n="@@closeButton">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
