<table class="table table-striped">
  <thead>
    <th>Область задач / Используемые технологии</th>
    <th>Ответственные</th>
  </thead>
  <tbody>
  <tr>
    <td>Backend / Java + Spring + Groovy</td>
    <td><p><span>Взюков Олег (85%), Сазонов Михаил (15%)</span></p></td>
  </tr>
  <tr>
    <td>DB / MySQL</td>
    <td><p><span>Сазонов Михаил (85%), Взюков Олег (15%)</span></p></td>
  </tr>
  <tr>
    <td>Frontend / Angular CLI</td>
    <td><p><span>Сазонов Михаил (85%), Пахнин Григорий (8%), Руденко Михаил (7%)</span></p></td>
  </tr>
  </tbody>
</table>

<br>

<ul class="list-group">
  <li class="list-group-item active">Список группы:</li>
  <li class="list-group-item">Взюков Олег</li>
  <li class="list-group-item">Сазонов Михаил</li>
  <li class="list-group-item">Пахнин Григорий</li>
  <li class="list-group-item">Руденко Михаил</li>
</ul>
