<table class="table table-striped">
  <thead>
    <th>Область задач</th>
    <th>Ответственые</th>
  </thead>
  <tbody>
  <tr>
    <td>Бэкенд</td>
    <td><p><span>Олег Взюков (85%), Сазонов Михаил (15%)</span></p></td>
  </tr>
  <tr>
    <td>База данных</td>
    <td><p><span>Олег Взюков (15%), Сазонов Михаил (85%)</span></p></td>
  </tr>
  <tr>
    <td>Фронтенд</td>
    <td><p><span>Сазонов Михаил</span></p></td>
  </tr>
  <tr>
    <td>Поддержка (ничего)</td>
    <td><p><span>Пахнин Григорий, Михаил Руденко</span></p></td>
  </tr>
  </tbody>
</table>

<br><br>

<ul class="list-group">
  <li class="list-group-item active">Список группы:</li>
  <li class="list-group-item">Взюков Олег</li>
  <li class="list-group-item">Сазонов Михаил</li>
  <li class="list-group-item">Пахнин Григорий</li>
  <li class="list-group-item">Руденко Михаил</li>
</ul>
