<div class="container" id="main-container" xmlns="http://www.w3.org/1999/html">
  <div class="nav-container">
    <h3 class="d-flex justify-content-center">{{title}} запущен!</h3>
    <h5 class="d-flex justify-content-center">Management  Navigation Bar</h5>

    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button routerLink="summits"
                  class="m-1 btn btn-light btn-outline-primary btn-lg" Button>All Summit</button>
        </li>

        <li class="nav-item">
          <button routerLink="names"
                  class="m-1 btn btn-light btn-outline-primary btn-lg" Button>All Summit's names</button>
        </li>

        <li class="nav-item">
          <button routerLink="alps"
                  class="m-1 btn btn-light btn-outline-primary btn-lg" Button>All Summit alpinists</button>
        </li>

        <li class="nav-item">
          <button routerLink="cartesian"
                  class="m-1 btn btn-light btn-outline-primary btn-lg" Button>Cartesian system</button>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <h3><span style="color: black;">@Sazonov Mike</span></h3>
  </div>
</footer>
