<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row" style="width: 60%;">
    <label class="col-sm-2 col-form-label"
           i18n="add-edit-name|Summit's id of certain summit's name@@nameSummitId">
      Summit's id
    </label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="SummitId">
        <option *ngFor="let sumId of SummitIdList">
          {{sumId}}
        </option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label"
           i18n="add-edit-name|Summit's name@@nameSummitName">
      Summit's name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="SummitName"
             i18n-placeholder placeholder="Enter summit's name">
    </div>
  </div>

  <div class="ml-3 bd-highlight" style="width: 40%;">
    <img src="assets/images/placeholder.jfif" height="250px;" width="200px;">
  </div>
</div>

<button (click)="addName()" *ngIf="NameId == '0'" class="btn btn-primary" i18n>
  Add
</button>

<button (click)="updateName()" *ngIf="NameId != '0'" class="btn btn-primary" i18n>
  Update
</button>
