/* You can add global styles to this file, and also import other style files */
.container {
  min-width: 100%;
}

.main-container {
  background: url('/assets/images/ffon.jpg');
  background-size: 225%;
  /*width: 500%;*/
  padding-bottom: 40px;
}

.nav-container {
  background: url('/assets/images/dark-blue.jpg') no-repeat fixed top;
  background-size: 100%;
  /*width: 500%;*/
  padding-bottom: 15px;
}

h3 {
  color: white;
}

h5 {
  color: white;
}

li {
  color: white;
}

.list-group-item {
  color: black;
}

li a {
  color: cornflowerblue;
}
