<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-froup row" style="width: 60%;">
    <label class="col-sm-2 col-form-label"
           i18n="add-edit-alps|Summit id of certain alpinist@@alpSummitId">
      Summit's id
    </label>
    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="SummitId">
        <option *ngFor="let sumId of SummitIdList">
          {{sumId}}
        </option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label"
           i18n="add-edit-alps|Last name of certain alpinist@@alpLastName">
      Last name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="AlpLastName"
             i18n-placeholder placeholder="Enter alpinist's last name">
    </div>

    <label class="col-sm-2 col-form-label"
           i18n="add-edit-alps|First name of certain alpinist@@alpFirstName">
      First name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="AlpFirstName"
             i18n-placeholder placeholder="Enter alpinist's first name">
    </div>

    <label class="col-sm-2 col-form-label"
           i18n="add-edit-alps|Middle name of certain alpinist@@alpMiddleName">
      Middle name
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="AlpMiddleName"
             i18n-placeholder placeholder="Enter alpinist's middle name">
    </div>

    <label class="col-sm-2 col-form-label"
           i18n="add-edit-alps|Ascent date of certain alpinist@@alpAscentDate">
      Ascent date
    </label>
    <div class="col-sm-10">
      <input type="date" [(ngModel)]="AlpAscentDate">
    </div>

  </div>

  <div class="ml-3 bd-highlight" style="width: 40%;">
    <img src="assets/images/placeholder.jfif" alt="" height="250px;" width="150px;">
  </div>
</div>

<button (click)="addAlp()" *ngIf="AlpId == 0" class="btn btn-primary" i18n>
  Add
</button>

<button (click)="updateAlp()" *ngIf="AlpId != 0" class="btn btn-primary" i18n>
  Update
</button>
